<h1>TEMP CART</h1>

<%# session[:cart].cart_products.each do |cart_product| %>
  <%# product = cart_product.product %>

  <p>
    Name: <%#= product.name%>
  </p>

<%# end %>
<p>
  <%= session[:cart]%>
</p>
