<div>
  <p class="pl-10" >
    <span class="font-bold">Name: </span><%= product.name%>
  </p>
  <p class="mt-1 pl-10">
    <span class="font-bold">Category: </span><%= product.category.name %>
  </p>
  <p class="mt-1 pl-10">
    <span class="font-bold">Description: </span><%= product.description%>
  </p>
  <p class="mt-1 pl-10">
    <span class="font-bold">Price: </span><%= product.price%>
  </p>

</div>
